/* 
TODOs:

REWORK classes and CSS so that the styles sheet doesn't have so much redundancy
Better spacing in some panes to give more whitespace
Can I make the images live so updates to source files propogate into the thumbnails?
Collapsible details on mobile resume page?
Why aren't box-shadows working to give a little depth?
Add hobbies page, at least to desktop version...many are coding/problem-solving-synergistic, so could be good to include.

*/


/* variables */
:root {
    --wall-color:  #604243;
    --pane-color: #eaf9e5;
    --nav-color: #42605F;
    --border-color: #5B4e77;
    --wallpaper-color: white;
}

/*
Alternate color schemes...from preliminary eyebleeders to things that just didn't quite work....

:root {
  --wall-color:  #968693;
    --pane-color: #9f7f76;
    --nav-color: #42605F;
    --border-color: #5B4e77;
    --wallpaper-color: #eaf9e5;

    --wall-color:  #EBEBEB;
    --pane-color: #0BC9CD;
    --nav-color: #42605F;
    --border-color: #5B4e77;
    #5B4e77
}

/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    background-color: var(--wall-color);
}

a {
    text-decoration: none;
    color: black;
}

#nav-link, .project-links > a {
    font-size: 18px;
}

body {
    margin: 0 10% 5% 10%;
}

.home-flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--wallpaper-color);
    box-shadow: 5px 5px 5px rbga(0, 0, 0, 0.3);
}

.home-flex {
    margin: 10% 2%;
    border-radius: 5px;
    background-color: var(--wallpaper-color);
    border: 1px solid black;
}

.pane {
    background-color: var(--pane-color);
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--wallpaper-color);
}

h1 {
    font-size: 35px;
    margin: 3% 2% 1% 2%;
    color: black;
}

h3 {
    color: black;
}

h4 {
    font-size: 17px;
}

article > p {
    margin: 3px 0;
}

nav > * {
    margin: auto 5%;
}

.navbar {
    width: 100%;
    height: auto;
    padding: 2% 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-color);
    color: white;
}

.navbar > h1 {
    color: white;
}

.nav-item {
    display: inline-block;
    margin: 0 10px;
    color: white;
}

.nav-item > a {
    color: white;
}

/* Welcome page specific */
.welcome > * {
    padding: 1.5%;
}

.home-flex {
    display: flex;
}

#headshot {
    width: 50%;
    height: auto;
}

.welcome {
    padding-left: 1%;
    line-height: 1.4;
    font-weight: 500;
}

/* Resumé page specific */
#resume-header {
    margin: 2%;
}

.resume-body {
    background-color: var(--wallpaper-color);
}

.info-box {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    background-color: var(--pane-color);
    border-radius: 5px;
    border: 1px solid black;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 2%;
    text-align: right;
}


.resume-block {
    width: 98%;
    margin: 1%;
    padding: 0 0 2% 0;
}

.resume-container {
    width: 100%;
    margin: 2% 0 0 0;
    background-color: var(--wallpaper-color);
}
.resume-item {
    display: flex;
    flex-direction: column;
    width: 91%;
    margin: 2% auto;
    background-color: var(--pane-color);
    padding: 2%;
    border-radius: 5px;
    border: 1px solid black;
    line-height: 1.3;
}

.resume-item > p {
    margin: 1% 4% 1% 4%;
}

.resume-item-header {
    display: flex;
    justify-content: space-between;
    width: 98%;
    font-size: 22px;
    margin: 1% 1% 2% 1%;
    font-weight: 900;
}

#title {
    margin: 0 1% 0 1%;
}

/* Projects section */

.projects-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    background-color: var(--wallpaper-color);
}

.project-pane {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin: 2% 2%;
    background-color: var(--pane-color);
}

.project-pane > * {
    flex: 1;
    margin: 2%;
}

.project-img {
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
}

.project-text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
}

.odd {
    flex-direction: row-reverse;
}

@media screen and (max-width: 576px) {

    body {
        margin: 0;
        padding: 5px;
    }

    .home-flex {
        display: flex;
        flex-direction: column;
        width: 96%;
        margin-top: 10%;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
    }

    #headshot {
        width: 100%;
        height: auto;
    }

    .project-pane {
        flex-direction: column;
    }

    .project-img {
        width: 96%;
        height: auto;
    }
}
